# ─── Base de données ─────────────────────────────────────────────────────────
DATABASE_URL="postgresql://kubernal:<PLACEHOLDER_DB_PASSWORD>@localhost:5432/kubernal_idp?schema=public"

# ─── Serveur ────────────────────────────────────────────────────────────────
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:7007

# ─── Logger ─────────────────────────────────────────────────────────────────
LOG_LEVEL=debug
